body {
    background-image: liner linear-gradient(#f55ab9,#e7b0d4,#c79abb);
    color:#b961a8;
    font-size: #b1518c 25px;
}

h1{
    color:#ec9ad6;
}

h2 {
    background-color: #b1518c;
    color:#c569a5;
}

img {
    width:500px;
    height:200px;
}
