body {
    background-image: liner linear-gradient(#f55ab9,#e7b0d4,#c79abb);
    color:#351f30;
    font-size: 25px;
}

h1{
    color:#ec9ad6;
}

h2 {
    background-color: #522440;
    color:#8f296b;
}

img {
    width:500px;
    height:200px;
}
